[submodule "Third-Party/neovim"]
  path = Third-Party/neovim
	url = git@github.com:neovim/neovim.git
[submodule "Third-Party/msgpack-c"]
	path = Third-Party/msgpack-c
	url = https://github.com/msgpack/msgpack-c.git
