--acronyms ID,IDX,RPC,UI,URL,UUID
--allman false
--anonymousforeach convert
--assetliterals visual-width
--asynccapturing 
--beforemarks 
--binarygrouping 4,8
--callsiteparen default
--categorymark "MARK: %c"
--classthreshold 0
--closingparen balanced
--closurevoid remove
--commas always
--complexattrs preserve
--computedvarattrs preserve
--condassignment after-property
--conflictmarkers reject
--dateformat system
--decimalgrouping 3,6
--doccomments before-declarations
--elseposition same-line
--emptybraces spaced
--enumnamespaces always
--enumthreshold 0
--exponentcase lowercase
--exponentgrouping disabled
--extensionacl on-extension
--extensionlength 0
--extensionmark "MARK: - %t + %c"
--fractiongrouping disabled
--fragment false
--funcattributes preserve
--generictypes 
--groupedextension "MARK: %c"
--guardelse auto
--header "// SPDX-License-Identifier: MIT"
--hexgrouping 4,8
--hexliteralcase uppercase
--ifdef indent
--importgrouping alpha
--indent 2
--indentcase false
--indentstrings false
--initcodernil false
--lifecycle 
--lineaftermarks true
--linebreaks lf
--markcategories false
--markextensions never
--marktypes never
--maxwidth 200
--modifierorder 
--nevertrailing 
--nilinit remove
--noncomplexattrs 
--nospaceoperators 
--nowrapoperators 
--octalgrouping 4,8
--onelineforeach ignore
--operatorfunc spaced
--organizationmode visibility
--organizetypes actor,class,enum,struct
--patternlet hoist
--ranges spaced
--redundanttype explicit
--self remove
--selfrequired 
--semicolons inline
--shortoptionals always
--smarttabs enabled
--someany true
--storedvarattrs preserve
--stripunusedargs unnamed-only
--structthreshold 0
--swiftversion 5.10
--tabwidth unspecified
--throwcapturing 
--timezone system
--trailingclosures 
--trimwhitespace always
--typeattributes preserve
--typeblanklines remove
--typedelimiter space-after
--typemark "MARK: - %t"
--voidtype void
--wraparguments before-first
--wrapcollections before-first
--wrapconditions before-first
--wrapeffects preserve
--wrapenumcases always
--wrapparameters before-first
--wrapreturntype if-multiline
--wrapternary default
--wraptypealiases before-first
--xcodeindentation disabled
--yodaswap always
--enable acronyms,blankLineAfterSwitchCase,blankLinesBetweenImports,docComments,isEmpty,organizeDeclarations,redundantProperty,sortSwitchCases,wrapConditionalBodies,wrapEnumCases,wrapMultilineConditionalAssignment,wrapSwitchCases
